@model ToDoList.Entity.ToDoItem

<div>Id: @Model.Id</div>
<div>Title: @Model.Title</div>
<div>Description: @Model.Description</div>
<div>Priority: @Model.Priority</div>
<div>IsCompleted: @Model.IsCompleted</div>

